<% var userName = user ? user.get('email') : ''; %>
<% var iconUrl = user ? user.get('avatar_url') : "https://s3-us-west-1.amazonaws.com/petbnb/images/listings/user_icon.png"; %>
<% var coverImg = images ? images.at(0).get('url') : '' %>
<% var detailImgTop = (images && images.length > 1) ? images.at(1).get('url') : '' %>
<% var detailImgBottom = (images && images.length > 2) ? images.at(2).get('url') : '' %>

<div id="cover">
  <% if (images) { %>
    <img src="<%= coverImg %>" alt="" />
  <% } %>
</div>
<div id="summary">
  <div class="row container-responsive">
    <div class="col-lg-8">
      <div class="row-space-4 row-space-top-4">
        <div class="row">
          <div class="col-md-3 text-center">
            <a href="/users/<%= listing.escape('user_id') %>"
               class="user-icon">
              <img src="<%= iconUrl %>" alt="user_icon" />
            </a>
            <div class="user-name"><%= userName %></div>
          </div>
          <div class="col-md-9">
            <h1><%= listing.escape('name') %></h1>
            <input type="hidden" id="lat" value=<%= listing.escape('latitude') %>>
            <input type="hidden" id="lng" value=<%= listing.escape('longitude') %>>
            <span class="address"></span>
            <span class="reviews">[Reviews TBA]</span>
            <div class="row row-condensed text-muted">
              <div class="col-sm-3">
                <img src="https://s3-us-west-1.amazonaws.com/petbnb/images/listings/home_icon.png" alt="home" />
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-lg-4">
      <form class="booking-form">
        <div class="price-box">
          <h5 class="price pull-left">$<%= listing.escape('price_daily') %></h5>
          <span class="per-night pull-right">Per Night</span>
        </div>
        <div class="booking-box">
          <div class="panel">
            <div class="panel-body panel-light">
              <div class="form-fields">
                <div class="row row-condensed">
                  <div class="col-sm-6">
                    Check In
                    <input type="text" id="checkin" name="checkin" placeholder="mm/dd/yyyy">
                  </div>
                  <div class="col-sm-6">
                    Check Out
                    <input type="text" id="checkout" name="checkout" placeholder="mm/dd/yyyy">
                  </div>
                </div>
              </div>
              <div class="booking-details">
                <div class="panel-padding-fit">
                  <table class="table table-bordered table-breakdown">
                    <tbody>
                      <tr>
                        <td id="cost-breakdown-1">
                          $<%= listing.escape('price_daily') %> x
                          <span id="total-nights"></span> nights
                        </td>
                        <td id="cost-breakdown-2">
                        </td>
                      </tr>
                      <tr>
                        <td>Total</td>
                        <td id="cost-breakdown-total">
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </div>
                <div class="booking-button enabled">
                  <button type="button" class="btn btn-primary btn-large btn-block"
                          id="booking-button">
                    <i class="fa fa-bolt"></i>  Instant Book
                  </button>
                </div>
                <div class="booking-errors">
                  <div class="message">
                    Those dates are not available
                  </div>
                  <a class="btn btn-large btn-block"
                     id="view_other_listings">
                    View Other Listings
                  </a>
                </div>
              </div>
              <div id="book-urgency-commitment">
                <div class="panel-body">
                  <div class="media">
                    <i class="icon icon-hourglass-color pull-left"></i>
                    <div class="media-body">
                      See yourself here? Book soon. <b>100</b> pet owners viewed
                      <%= userName %>'s place this week.
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
<div id="details">
  <div class="row container-responsive">
    <div class="col-lg-8" id="details-column">
      <div class="row-space-8 row-space-top-8">
        <h4 class="row-space-4">About This Listing</h4>
        <div class="panel panel-dark row-space-4">
          <div class="panel-body">
            With PetBnB, you can find unique accommodations for your pets—from houses and apartments, to tree houses and igloos. The listing details below explain what you'll find in this space. If you have any questions, you can contact the host directly.
          </div>
        </div>
        <p>
          <a href="#" id="contact-host-link">
            <strong>Contact Host</strong>
          </a>
        </p>
        <div class="row-space-4 row-space-top-4 inline-photo">
          <a href="#" class="photo-trigger" data-index="1">
            <img src="<%= detailImgTop %>" alt="" />
          </a>
        </div>
        <hr>
        <div class="row">
          <div class="col-md-3 text-muted">
            The Space
          </div>
          <div class="col-md-9">
            <div class="row">
              <div class="col-md-6">
                <div>Pets Accepted: <strong>Dogs, Cats</strong></div>
                <div>Property Type: <strong>Apartment</strong></div>
                <div>Accomodates: <strong>2</strong></div>
              </div>
              <div class="col-md-6">
                <div>Bed Type: <strong>Fluffy Pet Bed</strong></div>
                <div>Beds: <strong>2</strong></div>
              </div>
            </div>
          </div>
        </div>
        <hr>
        <div class="row description">
          <div class="col-md-3 text-muted">
            Description
          </div>
          <div class="col-md-9">
            <%= listing.get('description') %>
          </div>
        </div>
        <hr>
        <div class="row">
          <div class="col-md-3 text-muted">
            Availability
          </div>
          <div class="col-md-9">
            <div class="row">
              <div class="col-md-6">
                <strong>2 nights</strong> minimum stay
              </div>
              <div class="col-md-6">
                <a href="#" id="calendar">
                  <strong>View Calendar</strong>
                </a>
              </div>
            </div>
          </div>
        </div>
        <div class="row-space-4 row-space-top-4 inline-photo">
          <a href="#" class="photo-trigger" data-index="1">
            <img src="<%= detailImgBottom %>" alt="" />
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
<div id="reviews">
  <div class="panel">
    <div class="row container-responsive">
      <div class="col-lg-8">
        <div class="row-space-8 row-space-top-8">
          [reviewers]
        </div>
        <div class="review-content">
          [review details]
        </div>
      </div>
    </div>
  </div>
</div>
<div id="host-profile">
  <div class="row container-responsive">
    <div class="col-lg-8">
      <div class="row-space-8 row-space-top-8">
        <h4>About the Host, <%= userName %></h4>
        <div class="row">
          <div class="col-md-3 text-center">
            <a href="/users/<%= listing.escape('user_id') %>"
               class="user-icon">
              <img src="<%= iconUrl %>" alt="user_icon" />
            </a>
          </div>
          <div class="col-md-9">
            <div class="row-space-2" id="user-description">
              [user description]
            </div>
            <div class="row-space-2" id="u">
              [more user description]
            </div>
            <div class="contact-wrapper">
              <button class="btn btn-small btn-primary"
                      id="host-profile-contact-btn">
                Contact Host
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- <%= JSON.stringify(listing) %> -->

<script charset="utf-8">
  $(document).ready(function () {
  });
</script>
